{
    "presets": ["@vue/babel-preset-jsx"],
    "plugins": [
        [
            "import", {
                "libraryName": "ant-design-vue",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}