.about-body {
    padding: 20px;

    .about-warn {
        text-align: center;
        line-height: 20px;
        color: red;
        font-size: 12px;
        font-weight: 400;
    }

    .about-title {
        line-height: 60px;
        text-align: center;
        font-size: 24px;
        color: #333;
        font-weight: 700;
    }

    .about-message {
        padding-top: 20px;
        color: #333;
        font-weight: 200;
        font-size: 16px;

        .item {
            padding-top: 10px;
            line-height: 22px;
        }
    }
}